# Lab4 
## Структури для роботи з великими обсягами даних в Python
 **Мета**: отримати навички роботи із структурами для зберігання в Python (python, numpy, pandas, numpy array, dataframe, timeit) <br>
**Основні поняття**: numpy масиви, кортежі, списки, фрейми,профілювання.

In [1]:
import pandas as pd
import numpy as np
import timeit

### Таймер для підрахунку часу роботи функції

In [2]:
def timer(function):
    timer = timeit.Timer(function)
    execution_time = timer.timeit(1)
    print(f"Execution time: {execution_time} seconds")

In [3]:
def pandas_read_file():
    df = pd.read_csv('household_power_consumption.txt', index_col=None, header=0, sep=";", low_memory=False, na_values = '?')
    return df
pandas_read_file()
timer(pandas_read_file)

Execution time: 1.4753498999998556 seconds

In [4]:
df = pandas_read_file()
df

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,16/12/2006,17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
1,16/12/2006,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,16/12/2006,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,16/12/2006,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
4,16/12/2006,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0
...,...,...,...,...,...,...,...,...,...
2075254,26/11/2010,20:58:00,0.946,0.000,240.43,4.0,0.0,0.0,0.0
2075255,26/11/2010,20:59:00,0.944,0.000,240.00,4.0,0.0,0.0,0.0
2075256,26/11/2010,21:00:00,0.938,0.000,239.82,3.8,0.0,0.0,0.0
2075257,26/11/2010,21:01:00,0.934,0.000,239.70,3.8,0.0,0.0,0.0
2075258,26/11/2010,21:02:00,0.932,0.000,239.55,3.8,0.0,0.0,0.0

## Data Cleaning

In [ ]:
df.isnull().values.any()

In [6]:
df.isnull().sum()

Date                         0
Time                         0
Global_active_power      25979
Global_reactive_power    25979
Voltage                  25979
Global_intensity         25979
Sub_metering_1           25979
Sub_metering_2           25979
Sub_metering_3           25979
dtype: int64

In [7]:
df = df.fillna(method='bfill')

In [8]:
df.isnull().values.any()

False

In [10]:
df['Date'] = pd.to_datetime(df['Date'], format = "%d/%m/%Y")

df['Time'] = pd.to_datetime(df['Time'], format='%H:%M:%S').dt.time

columns_to_convert = df.columns[2:9]
columns_to_convert_dict = {i: float for i in columns_to_convert} 
columns_to_convert_dict
df = df.astype(columns_to_convert_dict)

In [50]:
df

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,2006-12-16,17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
1,2006-12-16,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,2006-12-16,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,2006-12-16,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
4,2006-12-16,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0
...,...,...,...,...,...,...,...,...,...
2075254,2010-11-26,20:58:00,0.946,0.000,240.43,4.0,0.0,0.0,0.0
2075255,2010-11-26,20:59:00,0.944,0.000,240.00,4.0,0.0,0.0,0.0
2075256,2010-11-26,21:00:00,0.938,0.000,239.82,3.8,0.0,0.0,0.0
2075257,2010-11-26,21:01:00,0.934,0.000,239.70,3.8,0.0,0.0,0.0
2075258,2010-11-26,21:02:00,0.932,0.000,239.55,3.8,0.0,0.0,0.0

In [ ]:

def numpy_read_file():
    arr = np.genfromtxt("household_power_consumption.txt", delimiter=";", skip_header=1, dtype=None, encoding=None, names = ['Date',
     'Time', 'Global_active_power','Global_reactive_power','Voltage','Global_intensity','Sub_metering_1','Sub_metering_2','Sub_metering_3'])
    return arr
numpy_read_file()

## Перший рівень

## 1. Обрати всі домогосподарства, у яких загальна активна споживана потужність перевищує 5 кВт.

In [58]:
def funct_1():
    df_1 = df[df['Global_active_power'] > 5]
    df_1
    return df_1
funct_1()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
1,2006-12-16,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,2006-12-16,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,2006-12-16,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
11,2006-12-16,17:35:00,5.412,0.470,232.78,23.2,0.0,1.0,17.0
12,2006-12-16,17:36:00,5.224,0.478,232.99,22.4,0.0,1.0,16.0
...,...,...,...,...,...,...,...,...,...
2069356,2010-11-22,18:40:00,5.408,0.150,231.50,23.6,48.0,0.0,0.0
2069357,2010-11-22,18:41:00,5.528,0.144,232.48,24.6,53.0,0.0,0.0
2071586,2010-11-24,07:50:00,5.172,0.050,235.18,22.0,0.0,38.0,17.0
2071587,2010-11-24,07:51:00,5.750,0.000,234.40,24.6,0.0,39.0,17.0
2072997,2010-11-25,07:21:00,5.074,0.240,238.55,21.4,1.0,2.0,18.0

In [61]:
timer(funct_1)

Execution time: 0.005902700002479833 seconds

## 2. Обрати всі домогосподарства, у яких вольтаж перевищую 235 В.

In [62]:
def funct_2():
    f_2 = df[df['Voltage'] > 235]
    return f_2
funct_2()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
4,2006-12-16,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0
5,2006-12-16,17:29:00,3.520,0.522,235.02,15.0,0.0,2.0,17.0
6,2006-12-16,17:30:00,3.702,0.520,235.09,15.8,0.0,1.0,17.0
7,2006-12-16,17:31:00,3.700,0.520,235.22,15.8,0.0,1.0,17.0
14,2006-12-16,17:38:00,4.054,0.422,235.24,17.6,0.0,1.0,17.0
...,...,...,...,...,...,...,...,...,...
2075254,2010-11-26,20:58:00,0.946,0.000,240.43,4.0,0.0,0.0,0.0
2075255,2010-11-26,20:59:00,0.944,0.000,240.00,4.0,0.0,0.0,0.0
2075256,2010-11-26,21:00:00,0.938,0.000,239.82,3.8,0.0,0.0,0.0
2075257,2010-11-26,21:01:00,0.934,0.000,239.70,3.8,0.0,0.0,0.0
2075258,2010-11-26,21:02:00,0.932,0.000,239.55,3.8,0.0,0.0,0.0

In [69]:
timer(funct_2)

Execution time: 0.11269350000657141 seconds

## 3. Обрати всі домогосподарства, у яких сила струму лежить в межах 19-20 А, для них виявити ті, у яких пральна машина та холодильних споживають більше, ніж бойлер та кондиціонер.

In [71]:
def funct_3():
    df_3 = df[(df['Global_intensity'] >= 19) & (df['Global_intensity'] <= 20)]
    df_31 = df_3[df_3['Sub_metering_2'] > df_3['Sub_metering_3']]
    return df_31
funct_3()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
45,2006-12-16,18:09:00,4.464,0.136,234.66,19.0,0.0,37.0,16.0
460,2006-12-17,01:04:00,4.582,0.258,238.08,19.6,0.0,13.0,0.0
464,2006-12-17,01:08:00,4.618,0.104,239.61,19.6,0.0,27.0,0.0
475,2006-12-17,01:19:00,4.636,0.140,237.37,19.4,0.0,36.0,0.0
476,2006-12-17,01:20:00,4.634,0.152,237.17,19.4,0.0,35.0,0.0
...,...,...,...,...,...,...,...,...,...
2071589,2010-11-24,07:53:00,4.666,0.000,235.72,19.8,0.0,39.0,17.0
2071590,2010-11-24,07:54:00,4.694,0.000,236.78,19.8,0.0,39.0,18.0
2071591,2010-11-24,07:55:00,4.602,0.000,237.08,19.4,0.0,40.0,17.0
2071592,2010-11-24,07:56:00,4.536,0.000,237.03,19.0,0.0,39.0,17.0
2071593,2010-11-24,07:57:00,4.626,0.000,236.78,19.4,0.0,39.0,17.0

In [72]:
timer(funct_3)

Execution time: 0.011392100001103245 seconds

## 4. Обрати випадковим чином 500000 домогосподарств (без повторів елементів вибірки), для них обчислити середні величини усіх 3-х груп споживання електричної енергії, а також

In [73]:
def funct_4():
    df_4 = df.sample(500000)
    df_4['Avarage consumption of electrical energy'] = (df_4['Sub_metering_1']+df_4['Sub_metering_2']+df_4['Sub_metering_3'])/3
    return df_4
funct_4()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3,Avarage consumption of electrical energy
1023183,2008-11-26,06:27:00,1.734,0.068,242.99,7.2,0.0,1.0,18.0,6.333333
1169801,2009-03-08,02:05:00,0.352,0.068,245.97,1.4,0.0,0.0,0.0,0.000000
1927277,2010-08-16,02:41:00,0.282,0.102,241.19,1.4,0.0,0.0,1.0,0.333333
110844,2007-03-03,16:48:00,0.290,0.116,242.65,1.2,0.0,1.0,0.0,0.333333
777292,2008-06-08,12:16:00,0.336,0.184,243.02,1.6,0.0,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...
1235300,2009-04-22,13:44:00,1.594,0.384,241.73,6.8,0.0,1.0,18.0,6.333333
363562,2007-08-26,04:46:00,0.190,0.110,242.04,0.8,0.0,0.0,0.0,0.000000
1632663,2010-01-23,12:27:00,1.916,0.238,238.91,8.0,0.0,0.0,18.0,6.000000
1784648,2010-05-09,01:32:00,0.692,0.050,243.81,2.8,0.0,0.0,1.0,0.333333
305631,2007-07-16,23:15:00,0.420,0.124,236.55,1.8,0.0,0.0,0.0,0.000000

In [74]:
timer(funct_4)

Execution time: 0.21406690000003437 seconds

## 5. Обрати ті домогосподарства, які після 18-00 споживають понад 6 кВт за хвилину в середньому, серед відібраних визначити ті, у яких основне споживання електроенергії у вказаний проміжок часу припадає на пральну машину, сушарку, холодильник та освітлення (група 2 є найбільшою), а потім обрати кожен третій результат із першої половини та кожен четвертий результат із другої половини.

In [17]:
df

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,2006-12-16,17:24:00,4.216,0.418,234.84,18.4,0.0,1.0,17.0
1,2006-12-16,17:25:00,5.360,0.436,233.63,23.0,0.0,1.0,16.0
2,2006-12-16,17:26:00,5.374,0.498,233.29,23.0,0.0,2.0,17.0
3,2006-12-16,17:27:00,5.388,0.502,233.74,23.0,0.0,1.0,17.0
4,2006-12-16,17:28:00,3.666,0.528,235.68,15.8,0.0,1.0,17.0
...,...,...,...,...,...,...,...,...,...
2075254,2010-11-26,20:58:00,0.946,0.000,240.43,4.0,0.0,0.0,0.0
2075255,2010-11-26,20:59:00,0.944,0.000,240.00,4.0,0.0,0.0,0.0
2075256,2010-11-26,21:00:00,0.938,0.000,239.82,3.8,0.0,0.0,0.0
2075257,2010-11-26,21:01:00,0.934,0.000,239.70,3.8,0.0,0.0,0.0
2075258,2010-11-26,21:02:00,0.932,0.000,239.55,3.8,0.0,0.0,0.0

In [101]:
from functools import partial
def funct_5(x):
    df_5 = df[df['Time'] > pd.to_datetime("18:00:00", format='%H:%M:%S').time()]
    df_51 = df_5[(df_5['Global_active_power']>6) & (df_5["Sub_metering_2"] > df_5["Sub_metering_1"])
                 & (df_5["Sub_metering_2"] > df_5["Sub_metering_3"])]
    col = df.columns.to_list()
    df_53 = pd.DataFrame(columns = col)
    df_54 = pd.DataFrame(columns = col)
    midpoint = len(df_51) // 2
    df_53 = df_51.iloc[0:midpoint:3]
    df_54 = df_51.iloc[midpoint::4]
    if x == 0:
        return df_53
    elif x == 1:
        return df_54
    else:
        print('Введіть або 0 для першої половини датафрейма, або 1 для другої')
funct_5_partial_0 = partial(funct_5, x=0)
funct_5_partial_1 = partial(funct_5, x=1)
timer(funct_5_partial_0)
timer(funct_5_partial_1)

Execution time: 0.10891059999994468 seconds
Execution time: 0.09828700000070967 seconds

In [92]:
funct_5(0)

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
41,2006-12-16,18:05:00,6.052,0.192,232.93,26.2,0.0,37.0,17.0
44,2006-12-16,18:08:00,6.308,0.116,232.25,27.0,0.0,36.0,17.0
17494,2006-12-28,20:58:00,6.386,0.374,236.63,27.0,1.0,36.0,17.0
17498,2006-12-28,21:02:00,8.088,0.262,235.50,34.4,1.0,72.0,17.0
17501,2006-12-28,21:05:00,7.230,0.152,235.22,30.6,1.0,73.0,17.0
...,...,...,...,...,...,...,...,...,...
666906,2008-03-23,20:30:00,6.952,0.178,234.24,29.6,0.0,72.0,17.0
666909,2008-03-23,20:33:00,6.490,0.196,234.04,27.6,0.0,72.0,17.0
666912,2008-03-23,20:36:00,6.708,0.180,234.10,28.6,0.0,73.0,16.0
707256,2008-04-20,21:00:00,8.268,0.312,232.30,35.6,1.0,72.0,17.0
707259,2008-04-20,21:03:00,7.798,0.328,231.76,33.6,1.0,71.0,17.0

In [90]:
funct_5(1)

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
707260,2008-04-20,21:04:00,7.756,0.348,232.11,33.4,1.0,72.0,17.0
707264,2008-04-20,21:08:00,6.366,0.368,232.97,27.4,2.0,37.0,18.0
707268,2008-04-20,21:12:00,6.378,0.300,232.96,27.4,1.0,36.0,17.0
707285,2008-04-20,21:29:00,7.486,0.288,232.00,32.2,34.0,37.0,17.0
747547,2008-05-18,20:31:00,7.782,0.280,234.42,33.4,1.0,72.0,27.0
...,...,...,...,...,...,...,...,...,...
2066467,2010-11-20,18:31:00,6.830,0.394,229.39,30.2,24.0,34.0,16.0
2066471,2010-11-20,18:35:00,6.784,0.364,228.38,30.0,21.0,35.0,16.0
2066475,2010-11-20,18:39:00,6.362,0.372,229.83,28.0,16.0,35.0,16.0
2066479,2010-11-20,18:43:00,6.324,0.376,229.93,27.8,14.0,35.0,17.0
2066485,2010-11-20,18:49:00,6.210,0.174,228.82,27.4,21.0,34.0,17.0